/*global*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Variaveis ( para organizar as cores do site )*/
:root{
    --bg-color: #DCE9E2;
    --letter-color: #00856F;
}

header{
    background-color: var(--bg-color);
    height: 100vh;
}

.container{
    padding-left: 246px;
    padding-right: 246px;
}

.menu, nav, nav ul{
    display: flex;
}

.menu{
    height: 72px; 
    justify-content: flex-end;
}

.logo, nav, .button {
    flex: 1;
    padding-top: 25px;
}

nav ul li{
    list-style: none;
    padding-left: 32px;
}

nav ul li a{
    text-decoration: none;
    color: var(--letter-color);
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
}

nav{
    padding-left: 50px;
    padding-right: 50px;
}


.button a{
    color: var(--letter-color);
    text-decoration: none;
    border: 1px solid var(--letter-color);
    border-radius: 40px;
    padding: 10px 24px; 
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
}
